
@media (min-width: 1200px) {
    .navbar.navbar-default .container {
        width: 1212px;
    }
}

@media screen and (max-width: 1200px) {
    .blogs-title {
       font-size:30px;
       line-height: 70px;
    }
 }
section.header {
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("asset/img/blogs/header.png");
    width:100%;
    height: 70px;
    background-size: cover;
    z-index: 10;
}

section.header .logo-link {
    float: left;
    height: 50px;
    padding: 13px 15px;
    font-size: 18px;
    line-height: 20px;
}

section.header .logo-link .logo {
    height: 40px;
    vertical-align: middle;
    display: block;
}

section.header .search {
    width: 50%;
    margin: 14px auto;
    position: relative;
}

section.header .search .search-icon {
    position: absolute;
    font-size: 25px;
    top: 11px;
    left: 15px;
    color: #555;
    width: 20px;
    height: 20px;
}

section.header .search-input {
    height: 40px;
    /* border-radius: 10px; */
    padding-left: 50px;
}

/* --- CONTENT --- */
section.content {
    padding-top: 70px;
    position: relative;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.blog-content {
    padding: 15px 0 30px;
    font-family: "Open Sans";
}

.panel {
    background: white;
    color: black;
    /* border-radius: 15px; */
    border: none;
    box-shadow: none;
}

.panel a:hover {
    text-decoration: none !important;
}

.panel .promotion {
    width: 100%;
    /* border-radius: 15px; */
}

#fixed-position-left ul li img {
    position: absolute;
    top: 0;
    right: 12px;
}

.panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.panel ul li {
    padding: 10px 25px;
    border-bottom: 1px solid #e0e0e0;
    text-transform: uppercase;
    position: relative;
}

.menu-left .panel ul li a, .panel.related-blog ul li a {
    color: #000000;
    display: block;
    margin: -10px -25px;
    padding: 10px 25px;
}

.panel ul li a:hover {
    text-decoration: none;
    cursor: pointer;
}

.panel ul li:first-child,
.panel ul li:first-child a{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel ul li:last-child,
.panel ul li:last-child a{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel ul li:hover,
.panel ul li:hover a,
.panel ul li.active,
.panel ul li.active a{
    background-color: #f7f7f7;
    color: #50a0fe !important;
}

.panel ul li:last-child {
    border-bottom: 0;
}

.menu-left .panel ul li:hover,
.menu-left .panel ul li:hover a,
.menu-left .panel ul li.active,
.menu-left .panel ul li.active a{
    background-color: #29b6f6 !important;
    color: #ffffff !important;
}

.single-blog.panel ul {
    list-style: disc;
    padding-left: 40px;
    margin-bottom: 15px;
}

.single-blog.panel ul li {
    padding: 0;
    border-bottom: none;
    text-transform: none;
    margin-bottom: 5px;
}

.single-blog.panel ul li:hover {
    background-color: #fff;
}

.blog-listing .panel {
    height: auto;
}

.panel .content .category {
    text-transform: uppercase;
    font-family: "Open Sans Semibold";
    color: #50a0fe;
    margin: 0;
}

.panel .content .title {
    line-height: 1.3;
    margin-bottom: 60px;
    font-size: 22px;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    color: #000;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    /*max-height: 56px;*/
    text-transform: uppercase;
    font-family: "Open Sans Semibold";
}

.panel .content .title a {
    color: #000;
}

.panel .content .short-info ul li:hover {
    color: #000 !important;
}

.panel .content .short-info {
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height:1.5;
    margin-top: 15px;
}

.panel .content .short-info .action-button.first, .panel .content .promo-content .action-button.first {
    margin: 10px 0 ;
}

.panel .content .short-info .action-button, .panel .content .promo-content .action-button {
    height: auto;
    display: flex;
    justify-content: center;
}

.panel .content .short-info .action-button a, .panel .content .promo-content .action-button a {
    color: white;
    padding: 10px 40px;
    background-color: #db3c57;
    /* border-radius: 4px; */
}

.panel .content .short-info .action-button a:hover, .panel .content .promo-content .action-button a:hover {
    cursor: pointer;
    background-color: rgba(219, 60, 87, 0.8)
}

.panel .content .action-button.download-btn a {
    margin: 20px 0;
}

.panel .content .views {
    color: #000000;
    margin: auto;
}

.panel .content .title-hr {
    height: 4px;
    width: 60px;
    margin-top: 15px;
    background: #4c5667;
    /* border-radius: 4px; */
}

.panel.image-left .content .short-info {
    height: 210px;
}

.panel.image-left .content {
    width: 52%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px 15px 15px 20px;
}

.panel.image-left .content .views {
    margin-top: 25px;
}

.panel.image-left .image,
.panel.image-left .content {
    display: inline-block;
    float: left;
    height: 100%;
}

.panel.image-left .image {
    width: 48%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    position: relative;
}

.panel.image-left .image img {
    height: 100%;
    width: auto;
    margin-left: -35%;
}

.panel.image-left .user-info .name {
    width: calc(100% - 80px);
    max-height: 60px;
    position: absolute;
    top: 50%;
    right: 0;
    overflow: hidden;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0 10px;
    margin: 0;
}

.panel .user-info {
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    background: rgba(255,255,255,0.7);
}

.panel .user-info .avatar {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 40px;
    display: inline-block;
}

.panel .user-info .avatar img {
    margin: auto;
    left: 50%;
    top: 50%;
    position: relative;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.panel .user-info .name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: -50px;
    color: #000000;
}

.panel.image-top .image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.panel.image-top.single-blog .image {
    height: 400px;
}

.panel.image-top .image img {
    width: 100%;
}

.panel.image-top .content {
    padding: 15px 25px;
}

.panel.image-top .category {
    text-align: right;
    font-size: 14px;
    margin: auto 0;
}

.panel.image-top .content .title {
    margin: 5px 0;
}

.panel.image-top .content .short-info {
    /*height: 122px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
    font-size: 15px;
}

.panel.image-top .user-info .avatar img {
    height: 100%;
    width: auto;
    margin: 0;
}

.panel.image-top .user-info {
    width: auto;
    padding-right: 20px;
}

.panel.image-top a:hover {
    text-decoration: none;
}

.blog-listing .panel.only-promotion {
    height: auto;
    position: relative;
}

.panel.only-promotion img.promotion {
    width: 100%;
    height: auto;
    /* border-radius: 15px; */
}

.panel.only-promotion img.sharing {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.panel.only-promotion img.sharing:hover {
    cursor: pointer;
}

.panel.only-promotion .new-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.panel.only-promotion .new-icon img {
    width: 45px;
    height: 45px;
}

.reference-text {
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
}

#fixed-position-right {
    height: calc(100% - 100px);
    overflow: hidden;
}

#fixed-position-right::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: transparent;
    border-radius: 5px;
    display: none;
}

#fixed-position-right::-webkit-scrollbar
{
    width: 5px;
    background-color: transparent;
    display: none;
}

#fixed-position-right::-webkit-scrollbar-thumb
{
    display: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    /*background-image: -webkit-linear-gradient(top,*/
        /*#e4f5fc 0%,*/
        /*#bfe8f9 50%,*/
        /*#9fd8ef 51%,*/
        /*#2ab0ed 100%);*/
}
.blank-promotion {
    height: 335px;
    display: none;
    background: transparent;
}

/* --- SINGLE BLOG --- */
.blog-listing .panel.single-blog {
    height: auto;
}

.blog-listing .panel.single-blog .like-block {
    margin-top: 10px;
}

.blog-listing .panel.single-blog .short-info {
    height: auto;
    font-size: 15px;
}

.blog-listing .panel.single-blog .short-info p img {
    height: auto;
    margin: 15px auto;
    /*width: 80%;*/
}

.blog-listing .panel.single-blog .short-info p iframe {
    width: 100%;
    height: 500px;
}

.blog-listing .panel.single-blog .short-info p  {
    word-break: break-word;
}

.blog-listing .panel.single-blog .short-info p img.emoji {
    margin-top: 6px;
    margin-bottom: 10px;
}

.blog-listing .panel.single-blog .short-info h4 {
    line-height: 1.5;
}

.blog-listing .panel.single-blog .post-tag {
    font-size: 13px;
}

.blog-listing .panel.single-blog .post-tag span {
    font-weight: bolder;
    color: #29b6f6;
    margin-right: 5px;
}

.blog-share-btn img:hover {
    cursor: pointer;
}

.course-table.table > thead > tr > th,
.course-table.table > tbody > tr > th,
.course-table.table > tfoot > tr > th,
.course-table.table > thead > tr > td,
.course-table.table > tbody > tr > td,
.course-table.table > tfoot > tr > td {
    border-top: none !important;
    border-bottom: 1px solid #ddd;
    padding: 16px 8px !important;
}

.panel.single-blog.image-top .image img {
    margin:0;
}

.panel.single-blog.image-top .content .title {
    margin-top: 20px;
}

.panel.single-blog .content img.aligncenter {
    display: block;
    margin: auto;
}

.panel.single-blog .content .favorite-count {
    font-size: 40px;
}

.panel.single-blog .content .favorite-count .fa-heart {
    color: #f45025;
}

.panel.single-blog .content .favorite-count span {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 40px;
}

.panel.single-blog .content .favorite-count .fa-twitter {
    color: #3dadee;
    margin-right: 20px;
}

.panel.single-blog .content .favorite-count .fa-facebook-square {
    color: #2275fb;
}

.panel.single-blog .content p {
    margin-bottom: 15px;
}

.panel.related-blog ul li.title {
    font-size: 16px;
    background-color: #f7f7f7;
    font-weight: bold;
    cursor: default;
    text-transform: uppercase;
}

.panel.related-blog ul li {
    text-transform: none;
}

.panel.related-blog ul li:hover a {
    cursor: pointer;
    background-color: #f7f7f7;
    color: #50a0fe !important;
}

.panel.related-blog ul li.title:hover {
    background-color: #f7f7f7;
}

.panel.related-blog ul li.title:hover {
    color: inherit !important;
}

.panel.related-blog {
    height: auto;
}

.panel.single-blog .promotion {
    border-radius: 15px;
    overflow: hidden;
}

.panel.single-blog .promotion img {
    max-width: 100%;
    height: auto;
}

.panel.single-blog .promotion .promo-content {
    padding: 25px;
    color: #000000;
}

.panel.single-blog .promotion .promo-content .title {
    text-transform: uppercase;
    margin-bottom: 0px;
}

/* --- LOAD MORE -- */
#load-more {
    text-align: center;
    color: #50a0fe;
}

#load-more:hover {
    text-decoration: none;
}

/* --- TOP BAR --- */
.topbar.blog {
    height: 70px;
    background-image: url("asset/img/blogs/header.png");
}

.topbar.blog .logo img {
    height: 45px;
}

.topbar.blog .mobile-menu {
    left: 15px;
    top: 12px;
    padding: 10px 15px;
    border: 1px solid white;
    border-radius: 5px;
}

.topbar.blog .topbar-container {
    padding: 12px 0;
}

.topbar.blog .topbar-navigation {
    background: #20a6d8;
    position: relative;
}

.topbar.blog .topbar-navigation a:hover,
.topbar.blog .topbar-navigation a:focus {
    background-color: #f7f7f7;
    color: #20a6d8;
}

.topbar .topbar-navigation li.blog-menu {
    border-bottom: none !important;
}

.topbar .topbar-navigation li a.blog-btn-3d {
    max-width: 200px;
    margin: 16px auto;
    text-align: center;
    padding: 8px 20px;
}

/* --- SHARE BUTTON --- */
.ssba a:nth-child(2) img {
    margin-left: -5px;
}

.ssba-wrap {
    display: inline-block;
}

.panel.image-top .views .time {
    display: inline-block;
    font-size: 14px;
}

.single-blog.panel.image-top .views .time {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.panel.image-top .views .time span {
    font-weight: bold;
}

.panel.image-top .views .author {
    color: #50a0fe;
    font-family: "Open Sans Semibold";
    font-size: 14px;
}

.panel.image-left .views .time {
    float: right;
    line-height: 36px;
}

blockquote {
    border-left: none;
    color: #7f7f7f;
    font-size: 32px;
    font-style: italic;
    line-height: 42px;
    margin: 30px auto;
    padding: 32px 80px 28px;
    position: relative;
    text-align: center;
}

blockquote:before {
    border-bottom: 1px solid #b2b2b2;
    box-sizing: border-box;
    content: '';
    height: 1px;
    left: 320px;
    position: absolute;
    right: 320px;
    top: 0;
}

blockquote:after {
    border-bottom: 1px solid #b2b2b2;
    box-sizing: border-box;
    content: '';
    height: 1px;
    left: 320px;
    position: absolute;
    right: 320px;
    bottom: 0;
    top: 100%;
}

blockquote p {
    margin-bottom: 0 !important;
}

.modal-open .modal {
    padding-top: 80px;
}

.loader {
    height: 4px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #ddd;
    bottom: 80px;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #db3c57;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.landscape-screen {
    display: none;
}

/* --- RESPONSIVE --- */
@media (max-width: 993px) {
    section.header .search {
        margin-right: -15px;
        width: calc(75% + 15px);
    }
    .blog-listing .panel.single-blog .short-info p img.image-full-mobile, .blog-listing .panel.single-blog .short-info p iframe {
        width: 100%;
    }
}

@media (max-width: 991px) and (min-width: 767px) {
    section.header .logo-link {
        padding: 13px 0;
    }
    .blog-listing .panel.single-blog .short-info p iframe {
        height: 280px;
    }
}

@media (max-width: 767px) {
    .blog-listing .panel.single-blog .short-info p iframe {
        height: 230px;
    }
    .blog-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .panel.image-left .content {
        width: 100%;
    }

    .blog-listing .panel,
    .panel.image-left .content .short-info {
        height: auto;
    }

    .blog-listing .panel .short-info {
        margin-top: 15px;
    }

    /*.blog-listing .panel.single-blog .short-info p {*/
        /*text-align: justify;*/
    /*}*/

    .blog-listing .panel.single-blog .short-info p img.image-full-mobile, .blog-listing .panel.single-blog .short-info p iframe {
        width: 100%;
    }

    .panel.image-left .image {
        width: 100%;
    }

    .panel.image-left .image > img {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .panel.image-left .image {
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }

    .panel .content .title {
        margin-bottom: 30px;
    }

    .panel.image-top.single-blog .image {
        height: 200px;
    }

    .panel.image-top .category {
        text-align: left;
    }

    .panel.image-top .image img {
        margin: 0;
    }

    .panel.image-top .content .views.visible-xs {
        margin: 25px 0 0;
    }

    .panel.image-top .user-info {
        width: 100%;
    }

    .panel.single-blog .content .views {
        margin-bottom: 15px;
    }

    .panel.single-blog.image-top .category {
        text-align: right;
    }

    .panel.image-top .views .time {
        float: right;
    }

    .fb-like {
        text-align: left;
    }

    .blog-share-btn {
        text-align: left;
        margin-top: 15px;
    }

    blockquote {
        padding: 20px;
        font-size: 25px;
    }
}

@media (max-width: 993px) and (orientation:landscape) {
    .portrait-screen {
        display: none !important;
    }

    .landscape-screen {
        display: block;
    }
}

@media (max-width: 993px) and (orientation:portrait) {
    .portrait-screen {
        display: block;
    }

    .landscape-screen {
        display: none;
    }
}
